#menu-open-icon {
  background-image: url(../static/images/icons/icons8-menu-96.png);
  width: 25px;
  height: 25px;
}

#fire-icon {
  background-image: url(../static/images/icons/fire_1f525.png);
  width: 20px;
  height: 20px;
}

#home-icon {
  background-image: url(../static/images/icons/icons8-home-96.png);
}

#design-icon {
  background-image: url(../static/images/icons/icons8-picture-96.png);
}

#review-icon {
  background-image: url(../static/images/icons/icons8-star-9.png);
}

#rating-icon {
  background-image: url(../static/images/icons/icons8-bulleted-list-96.png);
}

#profies-page-icon {
  background-image: url(../static/images/icons/icons8-crown-95.png);
}

#home-icon,
#design-icon,
#review-icon,
#rating-icon,
#profies-page-icon {
  width: 20px;
  height: 20px;
}

#search-icon {
  background-image: url(../static/images/icons/icons8-search.svg);
  width: 20px;
  height: 20px;
}

#logout-icon {
  background-image: url(../static/images/icons/icons8-leave-48.png);
  width: 20px;
  height: 20px;
}

#create-icon {
  background-image: url(../static/images/icons/icons8-plus-48.png);
  width: 20px;
  height: 20px;
}

#hint-icon {
  background-image: url(../static/images/icons/icons8-help-96.png);
  width: 28px;
  height: 28px;
}

.user-check-mark-mini {
  background-image: url(../static/images/icons/icons8-verification-90.png);
  width: 15px;
  height: 15px;
  opacity: 60%;
}

#filters-icon {
  background-image: url(../static/images/icons/icons8-filter-96.png);
  background-position: 20%;
}

#filter-select-icon {
  background-image: url(../static/images/icons/icons8-arrow-50.png);
  transform: rotate(90deg);
  transition: 0.2s;
}

#filters-tags-icon {
  background-image: url(../static/images/icons/icons8-tag-96.png);
}

#filters-name-icon {
  background-image: url(../static/images/icons/icons8-search.svg);
}

#filters-icon,
#filters-tags-icon,
#filters-name-icon {
  min-width: 17px;
  min-height: 16px;
  opacity: 50%;
}

#filter-select-icon {
  width: 15px;
  height: 15px;
  opacity: 50%;
}

#tags-button-icon {
  background-image: url(../static/images/icons/icons8-tag-96.png);
  width: 18px;
  height: 18px;
  opacity: 50%;
}

#profies-icon {
  background-image: url(../static/images/icons/think_emoji.png);
}

#community-icon {
  background-image: url(../static/images/icons/huggin_emoji.png);
}

#profies-icon,
#community-icon {
  width: 40px;
  height: 40px;
}

#rater-info-icon {
  background-image: url(../static/images/icons/icons8-info-96.png);
}

#rater-collapse-icon {
  background-image: url(../static/images/icons/icons8-arrow-50.png);
  transform: rotate(-90deg);
  transition: 0.2s;
}

#rater-info-icon, 
#rater-collapse-icon {
  width: 20px;
  height: 20px;
}

#publish-rater-icon {
  background-image: url(../static/images/icons/icons8-arrow-50.png);
  width: 15px;
  height: 15px;
  opacity: 50%;
}